.vote-body {
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 70%;
    font-weight: 400;
    margin: 0 1% 0 0;
}

.votes {
    cursor: default;
}

.up {
    color: orange;
    font-size: 2rem !important; 
    font-weight: 900;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}

.down {
    color: blue;
    font-size: 2rem !important; 
    font-weight: 900;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}

.percentage-upvoted {
    font-size: 0.8rem   
}

.percentage-hidden {
    font-size: 0;
    height: 0px;
}
