.user-profile {
    margin: 2%;
}

.profile-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: baseline;
}

.profile-title {
    font-size: 2rem;
    cursor: pointer;
}

.profile-tab {
    font-size: 1.1rem;
    cursor: pointer;
}

.selected-tab {
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(58, 97, 156);
}